{% extends "main.html" %} {% load static %} {% block page %}
<h1 class="page">Diccionario Fusi</h1>
{% endblock page %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/fusi-dict.css' %}" />

<div class="container-fluid">
    <form id="searchForm" class="form" action="{% url 'dic_fusi' %}" method="get">
        <div class="row">
            <div class="col-3">
                <a href=""
                    ><button type="button" class="btn btn-primary"><i class="bx bx-plus"></i> Crear Fusi</button></a
                >
            </div>
            <div style="margin-left: auto" class="col-6">
                <input
                    type="text"
                    class="form-control narrow-input"
                    height="50px"
                    id="formInput#search"
                    name="search_query"
                    value="{{ search_query }}"
                    placeholder="Ingrese : Codigo, Componente, Descripcion, Tipo ECU"
                    style="--bs-input-height: 220px"
                />
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary"><i class="bx bx-search-alt-2"></i> Buscar</button>
            </div>
        </div>
    </form>
    <div style="margin-top: 30px" class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header custom">Diccionario Fusi</h5>
                <div class="card-body">
                    <div class="col-12 text-center">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color: #686868">Codigo</th>
                                        <th style="color: #686868">Descripcion</th>
                                        <th style="color: #686868">Clase</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"></tbody>
                                {% for i in fusi %}
                                <tr>
                                    <td class="codigo">{{ i.fusi_code }}</td>
                                    <td class="description">{{ i.fusi_description }}</td>
                                    <td class="clase">{{ i.message_class }}</td>
                                    <td>
                                        {% if user.username == 'hurbx' %}
                                        <a href="">
                                            <button type="button" class="btn btn-primary">Editar</button>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'no-access' %}">
                                            <button type="button" class="btn btn-primary">Editar</button></a
                                        >{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            <div class=""></div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if fusi.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{fusi.previous_page_number}}">Anterior</a>
                                    </li>
                                    {% endif %} {% for page in paginator.page_range %} {% if page == fusi.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                                    {% endif %} {% endfor %} {% if fusi.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{fusi.next_page_number}}">Siguiente</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}