{% extends "main.html" %} {% load static %} {% block content %}
<link href="{% static 'styles/no-access.css' %}" rel="stylesheet" />

<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <div class="four_zero_four_bg"></div>

                    <div class="contant_box_404">
                        <h3 class="h2">No tienes acceso a esta accion</h3>

                        <p>si necesitas acceso debes comunicarte con el equipo</p>

                        <a href="{% url 'simple_dashboard' %}" class="link_404">Ir Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}